body {
  font-family: "Silkscreen", cursive;
  background-color: rgb(221, 219, 219);
}
a {
  text-decoration: none;
  color: black;
}








/*contact page */

.contact-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  color: black;
  border-radius: 10px;
  font-family: "Handjet", cursive;
}

h2 {
  text-align: center;
}

.contact-section {
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.contact-title {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.contact-details {
  font-size: 1.2em;
  text-align: center;
}

/*FAQ page */
.fAQContainer {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-direction: column;
  font-family: "Handjet", cursive;
  width: 60%;
  padding-bottom: 2em;
}
.fAQTitle {
  text-align: center;
}
.fAQItem {
}
.fAQA {
  margin: 0 0;
  font-size: 20px;
}

.fAQQ {
  margin: 0 0;
  font-size: 25px;
}
