/*Main*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: .5em;
      margin: 0 auto;
    }

  }

  @media screen and (max-width: 480px){

    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: .5em;
      margin: 0 auto;
    }
  }

@media screen and (min-width: 481px) and (max-width: 768px) {

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5em;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5em;
    margin: 0 auto;
  }

}



  